<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/all.css' />
  <link rel='stylesheet' href='/stylesheets/magnific-popup.css' />
  <link rel='stylesheet' href='/stylesheets/animate.css' />
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />

  <script src="/javascripts/jquery-3.4.1.js"></script>
  <script src="/javascripts/scroll.js"></script>
  <script src="/javascripts/scroll2.js"></script>
  <script src="/javascripts/imgpop.js"></script>
  <script src="/javascripts/vidpop.js"></script>
  <script src="/javascripts/wow.js"></script>
  <script src="/javascripts/jquery.magnific-popup.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">

  <script>
    new WOW().init();

  </script>
</head>

<!--Splash Screen and Buttons-->

<body>
  <section id="home">
    <div class="video_contain">
      <div id="fade">
        <video autoplay muted loop>
          <source src="/images/ryansplash.mp4" type="video/mp4">
        </video>
      </div>
      <div class="buttons">
        <a href="/images/RyanLinResume.pdf" class="b1" target="_blank">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Résumé
        </a>
        <a class="bright" href="mailto:hello.ryanlin@gmail.com" class="b2">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Contact
        </a>
      </div>
      <a class="chev" href="#timeline"><i class="fas fa-chevron-down"></i></a>
    </div>
  </section>




  <!--Content Section-->
  <section id="timeline">
    <div class="opener wow fadeIn">
      <div class="vl"></div>
      <br>
      <h1>My Portfolio Timeline. Coded by me.</h1>
      <p>Best experienced in Google Chrome.</p>
      <br>
    </div>


    <!--About Me-->
    <div class="row wow fadeIn">
      <div class="column7">
        <div class="column7b">
          <h4><br>A little about me,</h4>
          <h5>My name's Ryan,</h5>
          <p>
            I'm a recently graduated Global Business and Digital Arts student from the University of Waterloo in Ontario, Canada. A designer who understands how to translate code into business.<br><br>
            I love getting to know all the little details that go into design and learning what truly makes something work. I'm a firm believer that if anything can be envisioned, it can be created!<br><br>
            In my free time, I like to crunch numbers and optimize anything I do, whether it be for lifestyle and health, or learning more about my craft even when relaxing and watching films.
          </p>
        </div>
      </div>
      <div class="column6">
        <div class="column6c">
          <h4><br><br>And what I can do.</h4>
          <h5>I'm a designer.</h5>
          <p>
            • I'm skilled in HTML5. I can make any website pop, no matter the theme.<br><br>
            • I've got a good eye for cinematography. I do efficient and impactful work in video formats.<br><br>
            • I'll be able to touch up any page or product with my knowledge and application of graphic design.<br><br>
          </p><br>
        </div>
        <div class="columnEnd">
        </div>
      </div>
    </div>

    
    <!--PharmD-->
    <hr class="drop">

    <div class="row wow fadeIn">
      <div class="column5">
        <div class="posterleft">
          <a class="image-popup-no-margins" href="/images/pharmdlanding.png">
            <img src="/images/pharmdlanding.png" width="100%" />
          </a>
        </div>
      </div>
      <div class="column6">
        <div class="column6c">
          <h2>UWaterloo PharmD: Website Redesign</h2>
          <h4>WCMS, HTML5</h4>
          <h5>August 21, 2020<br><br>
            <font color="white">Visit:<br> • </font><a class="f1" href="https://uwaterloo.ca/pharmacy/future-pharmd-students" target="_blank">Future PharmD students Landing Page</a>
          </h5>
        </div>
      </div>
    </div>

    <div class="row wow fadeIn">
      <div class="column7">
        <div class="column7c">
          <p>
            • Combined knowledge of website design with close team member
            collaboration to overhaul and reinvigorate UWaterloo PharmD’s
            online front.<br><br>
            • Updated a substantial portion of the UWaterloo website’s materials, including all media for newcomer student admissions.<br><br>
            • Worked alongside a tight four-month schedule to complete all projects.<br><br>
          </p><br>
          <h5>
            <font color="white">Visit:<br> • </font><a class="f1" href="https://uwaterloo.ca/pharmacy/future-pharmd-students/conditional-admission-pharmacy-cap" target="_blank">Conditional Admission to Pharmacy (CAP)</a>
          </h5>
        </div>
      </div>
      <div class="column8">
        <div class="posterright">
          <a class="image-popup-no-margins" href="/images/pharmdapply.png">
            <img src="/images/pharmdapply.png" width="100%" />
          </a>
        </div>
      </div>
    </div>

    <div class="row wow fadeIn">
      <div class="column5">
        <div class="posterleft">
          <a class="image-popup-no-margins" href="/images/futurelanding.png">
            <img src="/images/futurelanding.png" width="100%" />
          </a>
        </div>
      </div>
      <div class="column6">
        <div class="column6c">
          <p>
            • Utilized knowledge of information structure and the user experience to efficiently revamp the ordering of program materials and details.<br><br>
            • Incorporated graphic design materials into headers and banners to add another dimension to visual and information clarity.<br><br>
            • Implemented a new common-use navigation header system to allow full flexibility for the viewer's ease of browsing.<br><br>
          </p><br>
          <h5>
            <font color="white">Visit:<br> • </font><a class="f1" href="https://uwaterloo.ca/pharmacy/pharmd-program-overview" target="_blank">Doctor of Pharmacy (PharmD)</a>
          </h5>
        </div>
      </div>
    </div>
    <div class="columnEnd">
    </div>
    <!--Dreadtides-->
    <hr class="drop">

    <div class="bigscreen">
      <div class="gallery wow fadeIn">
        <a class="popup-youtube" href="https://www.youtube.com/watch?v=dVgWy2BRrWE">
          <img width="100%" src="/images/dreadtides_illustration_1.jpg" />
          <i class="far fa-play-circle"></i>
        </a>
      </div>
    </div>

    <div class="row wow fadeInUp">
      <div class="column1">
        <h2>Dreadtides: Official Trailer</h2>
        <h4>Adobe After Effects, Adobe Premiere Pro, Unity</h4>
        <h5>Copyright to HeadByte Studios<br>March 1, 2020<br><br>
          <font color="white">Game Released on April 2, 2020</font><br><a class="f1" href="https://store.steampowered.com/app/1256510/Dreadtides/" target="_blank">Link to Steam Store Page</a>
        </h5>
      </div>
      <div class="column2">
        <div class="column2a">
          <p>• Drafted the trailer plan and outline from scratch to tell a story.
            Using Unity's Timeline and Cinemachine features, I manually captured the displayed game footage for my later use in post-production.<br><br>
            • Built the project's main frame in Adobe Premiere Pro, organizing all of my video and audio assets accordingly to match my storyboarding.<br><br>
            • Communicated closely with the programmers and marketers of HeadByte Studios to bring my initial vision to fruition. Efficiently managed time and resources within our available technical and creative boundaries.<br><br>
            • Animated static illustrations in Adobe After Effects. Brought the portraits to life with the liquify, displacement map, and puppet tools to manipulate subtle movements in the scenery.<br><br>
            • Understanding the layers and depth of the pictures, I applied cage meshes over the backgrounds, characters, and scenery objects. This, in addition to the atmospheric particles, created a 3D parallax display upon the camera's movement.<br><br>
          </p>
        </div>
      </div>
    </div>

    <hr class="drop">

    <div class="bigscreen">
      <div class="gallery wow fadeIn">
        <a class="popup-youtube" href="https://www.youtube.com/watch?v=iliqqXV9Kwo">
          <img width="100%" src="/images/neeko.png" />
          <i class="far fa-play-circle"></i>
        </a>
      </div>
    </div>

    <div class="row wow fadeInUp">
      <div class="column1">
        <h2>Journey to Masters</h2>
        <h4>Adobe After Effects, Creator Suite</h4>
        <h5>Characters Copyrighted to Riot Games<br>March 22, 2019</h5>
      </div>
      <div class="column2">
        <p>• A personal side project, a showcase of my technical ability in Adobe After Effects.<br><br>
          • Video game cinematic production, footage captured with keyframing software in high resolution.<br><br>
          • Post-production containing combined usage of 3D camera, masking, particles, and motion tracking.<br><br>
          • Utilized time remapping and knowledge on sound design to tell a story in film.</p>
      </div>
    </div>

    <hr class="drop">

    <div class="row wow fadeIn">
      <div class="column3">
        <div class="gallery">
          <a class="popup-youtube" href="https://www.youtube.com/watch?v=ArQ-VzDtsnw">
            <img width="100%" src="/images/dragonsden.jpg" />
            <i class="far fa-play-circle"></i>
          </a>
        </div>
        <div class="column3c">
          <h2>"Dragon's Den" Intro</h2>
          <h4>Adobe After Effects</h4>
          <h5>March 03, 2019</h5>
          <p>• Application of parallax movement, motion blur, and wiggle expressions to create an illusion of perspective.</p>
        </div>
      </div>
      <div class="column4">
        <div class="gallery">
          <a class="popup-youtube" href="https://www.youtube.com/watch?v=SFyOauMHR6Y">
            <img width="100%" src="/images/oddlysatisfying.jpg" />
            <i class="far fa-play-circle"></i>
          </a>
        </div>
        <div class="column4c">
          <h2>"Oddly Satisfying" Intro</h2>
          <h4>Adobe After Effects</h4>
          <h5>March 15, 2019</h5>
          <p>• Usage of 3D camera, liquify tool, particle world, color correction, and glitch effects for a fluid text transition.</p>
        </div>
      </div>
    </div>

    <hr class="drop">

    <div class="bigscreen">
      <div class="gallery wow fadeIn">
        <a class="popup-youtube" href="https://www.youtube.com/watch?v=hx4JuYVlPQQ">
          <img width="100%" src="/images/ryancat.jpg" />
          <i class="far fa-play-circle"></i>
        </a>
      </div>
    </div>

    <div class="row wow fadeInUp">
      <div class="column1">
        <div class="column1s">
          <h2>Paintbrush Dreaming</h2>
          <h4>Adobe Photoshop, Premiere Pro</h4>
          <h5>November 30, 2017</h5>
        </div>
      </div>
      <div class="column2">
        <div class="column2s">
          <p>• Hand drawn 2D animation, created frame by frame in Adobe Photoshop for the project's foundation in gif format.<br><br>
            • Post-production was done in Adobe Premiere Pro, where I utilized keyframing to achieve character and object movement.<br><br>
            • Had a fun time making the cat come to life. :)</p>
        </div>
      </div>
    </div>

    <hr class="drop">

    <div class="row wow fadeIn">
      <div class="column5">
        <div class="posterleft">
          <a class="image-popup-no-margins" href="/images/ryanfullposter.jpg">
            <img src="/images/ryanfullposter.jpg" width="100%" />
          </a>
        </div>
      </div>
      <div class="column6">
        <div class="column6c">
          <h2>The Art of Creation</h2>
          <h4>Adobe Photoshop</h4>
          <h5>November 18, 2017</h5>
          <p>• A graphic design project made in Adobe Photoshop.<br><br>
            • Applied bright vibrant colors against a harsh black background for a very distinct and flavorful contrast.<br><br>
            • Personal choice of sketch-based and ornate font combined with fine detailing, helped transition clashing hues into a delicate fade.<br><br>
            • Used imagery of smoke combined with various rainbow-colored textures to overlay a cityscape background, creating a visually surrealistic final product.</p>
        </div>
      </div>
    </div>

  </section>

  <div class="footer">
    <h3>Ryan Lin 2021</h3>
    <a class="f1" href="mailto:hello.ryanlin@gmail.com"><i class="fas fa-envelope"></i>&nbspEmail me!</a>
    <a class="f2" href="#home">Back to the top!&nbsp<i class="fas fa-arrow-up"></i></a>
  </div>



</body>

</html>
