<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/all.css' />
  </head>
  <body>
    <div class="hero">
      <i class="fas fa-chevron-down"></i>
    </div>
        <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
