<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/all.css' />
  <script src="/javascripts/jquery-3.4.1.js"></script>
  <script src="/javascripts/scroll.js"></script>
  <script src="/javascripts/vidpop.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">
</head>

<!--Splash Screen and Buttons-->

<body>
  <section id="home">
    <div class="video_contain">
      <div id="flash">
        <video autoplay muted loop>
          <source src="/images/ryansplash.mp4" type="video/mp4">
        </video>
      </div>
      <div class="buttons">
        <a href="/images/comingsoon.pdf" class="b1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Résumé
        </a>
        <a href="mailto:hello.ryanlin@gmail.com" class="b2">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Contact
        </a>
      </div>
      <i class="fas fa-chevron-down"></i>
    </div>
  </section>




  <!--Content Section-->
  <section id="work">
    <div class="opener">
      <div class="vl"></div>
      <br>
      <h1>Ryan Lin</h1>
      <p>Timeline.</p>
      <br>
    </div>
    <hr class="drop">
    <div class="gallery">
      <a class="popup-youtube" href="https://www.youtube.com/watch?v=iliqqXV9Kwo">
        <img width="100%" src="/images/neeko.png" />
        <i class="far fa-play-circle"></i>
      </a>
    </div>

    <div class="row">
      <div class="column1">
        <h2>Journey to Masters</h2>
        <h4>Adobe After Effects, Creator Suite</h4>
        <h5>March 22, 2019</h5>
      </div>
      <div class="column2">
        <p>• Video game cinematic production, footage captured with keyframing software in high resolution<br><br>
          • Post-production contained combined usage of 3D camera, masking, particles, and motion tracking<br><br>       
          • Utilized time remapping and knowledge on sound design to tell a story in film</p>
      </div>
    </div>

    <hr class="drop">
    
    <div class="gallery">
      <a class="popup-youtube" href="https://www.youtube.com/watch?v=hx4JuYVlPQQ">
        <img width="100%" src="/images/ryancat.gif" />
        <i class="far fa-play-circle"></i>
      </a>
    </div>

    <div class="row">
      <div class="column1">
        <h2>Paintbrush Dreaming</h2>
        <h4>Adobe Photoshop, Premiere Pro</h4>
        <h5>November 30, 2017</h5>
      </div>
      <div class="column2">
        <p>• Content<br><br>
          • Content<br><br>       
          • Content</p>
      </div>
    </div>

  </section>

  <div class="footer">
    <p>Ryan Lin 2019</p>
    <a href="mailto:hello.ryanlin@gmail.com"><i class="fas fa-envelope"></i></a>
  </div>



</body>

</html>
