<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/all.css' />
  <link rel='stylesheet' href='/stylesheets/magnific-popup.css' />
  <link rel='stylesheet' href='/stylesheets/animate.css' />
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />

  <script src="/javascripts/jquery-3.4.1.js"></script>
  <script src="/javascripts/scroll.js"></script>
  <script src="/javascripts/scroll2.js"></script>
  <script src="/javascripts/vidpop.js"></script>
  <script src="/javascripts/wow.js"></script>
  <script src="/javascripts/jquery.magnific-popup.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">

  <script>
    new WOW().init();

  </script>
</head>

<!--Splash Screen and Buttons-->

<body>
  <section id="home">
    <div class="video_contain">
      <div id="fade">
        <video autoplay muted loop>
          <source src="/images/ryansplash.mp4" type="video/mp4">
        </video>
      </div>
      <div class="buttons">
        <a href="/images/RyanLinResume.pdf" class="b1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Résumé
        </a>
        <a class="bright" href="mailto:hello.ryanlin@gmail.com" class="b2">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Contact
        </a>
      </div>
      <a class="chev" href="#timeline"><i class="fas fa-chevron-down"></i></a>
    </div>
  </section>




  <!--Content Section-->
  <section id="timeline">
    <div class="opener wow fadeIn">
      <div class="vl"></div>
      <br>
      <h1>Ryan Lin</h1>
      <p>Timeline.</p>
      <br>
    </div>
    <hr class="drop">

    <div class="bigscreen">
      <div class="gallery wow fadeIn">
        <a class="popup-youtube" href="https://www.youtube.com/watch?v=k4aLsExYBzI">
          <img width="100%" src="/images/dreadtides_illustration_1.jpg" />
          <i class="far fa-play-circle"></i>
        </a>
      </div>
    </div>

    <div class="row wow fadeInUp">
      <div class="column1">
        <h2>Dreadtides: Official Trailer</h2>
        <h4>Segment 1/3: In Progress</h4>
        <h5>Copyright to HeadByte Studios<br>January 22, 2020<br><br>Project will be completed mid-February!</h5>
      </div>
      <div class="column2">
        <div class="column2a">
        <p>• Given only static illustrations, I was able to rebuild three scenes in Adobe After Effects, bringing the drawings to life for Dreadtides' official trailer<br><br>
          • The liquify and displacement map tools helped achieve the fluid illusion of fire and the puppet tool was used to manipulate the creatures' and soldiers' subtle movements. I modified color hues and lighting to visually feign a sunrise over the corrupted lands<br><br>
          • Understanding the layers and depth of the pictures, I applied cage meshes over the backgrounds, characters, and scenery objects to create 3D parallax motion, adding particles to augment the dynamic camera movement</p>
        </div>
      </div>
    </div>

    <hr class="drop">

    <div class="bigscreen">
      <div class="gallery wow fadeIn">
        <a class="popup-youtube" href="https://www.youtube.com/watch?v=iliqqXV9Kwo">
          <img width="100%" src="/images/neeko.png" />
          <i class="far fa-play-circle"></i>
        </a>
      </div>
    </div>

    <div class="row wow fadeInUp">
      <div class="column1">
        <h2>Journey to Masters</h2>
        <h4>Adobe After Effects, Creator Suite</h4>
        <h5>Characters Copyright to Riot Games<br>March 22, 2019</h5>
      </div>
      <div class="column2">
        <p>• Video game cinematic production, footage captured with keyframing software in high resolution<br><br>
          • Post-production contained combined usage of 3D camera, masking, particles, and motion tracking<br><br>
          • Utilized time remapping and knowledge on sound design to tell a story in film</p>
      </div>
    </div>

    <hr class="drop">

    <div class="row wow fadeIn">
      <div class="column3">
        <div class="gallery">
          <a class="popup-youtube" href="https://www.youtube.com/watch?v=ArQ-VzDtsnw">
            <img width="100%" src="/images/dragonsden.jpg" />
            <i class="far fa-play-circle"></i>
          </a>
        </div>
        <div class="column3c">
          <h2>"Dragon's Den" Intro</h2>
          <h4>Adobe After Effects</h4>
          <h5>March 03, 2019</h5>
          <p>• Application of parallax movement, motion blur, and wiggle expressions to create an illusion of perspective</p>
        </div>
      </div>
      <div class="column4">
        <div class="gallery">
          <a class="popup-youtube" href="https://www.youtube.com/watch?v=SFyOauMHR6Y">
            <img width="100%" src="/images/oddlysatisfying.jpg" />
            <i class="far fa-play-circle"></i>
          </a>
        </div>
        <div class="column4c">
          <h2>"Oddly Satisfying" Intro</h2>
          <h4>Adobe After Effects</h4>
          <h5>March 15, 2019</h5>
          <p>• Usage of 3D camera, liquify tool, particle world, color correction, and glitch effects for a fluid text transition</p>
        </div>
      </div>
    </div>

    <hr class="drop">

    <div class="bigscreen">
      <div class="gallery wow fadeIn">
        <a class="popup-youtube" href="https://www.youtube.com/watch?v=hx4JuYVlPQQ">
          <img width="100%" src="/images/ryancat.jpg" />
          <i class="far fa-play-circle"></i>
        </a>
      </div>
    </div>

    <div class="row wow fadeInUp">
      <div class="column1">
        <div class="column1s">
          <h2>Paintbrush Dreaming</h2>
          <h4>Adobe Photoshop, Premiere Pro</h4>
          <h5>November 30, 2017</h5>
        </div>
      </div>
      <div class="column2">
        <div class="column2s">
          <p>• Hand drawn 2D animation, created frame by frame in Adobe Photoshop for the project's foundation in gif format<br><br>
            • Post-production was done in Adobe Premiere Pro, where I utilized keyframing to achieve character and object movement<br><br>
            • Had a fun time making the cat come to life :)</p>
        </div>
      </div>
    </div>

    <hr class="drop">

    <div class="row wow fadeIn">
      <div class="column5">
        <div class="poster">
          <img width="100%" src="/images/ryanfullposter.jpg" />
        </div>
      </div>
      <div class="column6">
        <div class="column6c">
          <h2>The Art of Creation</h2>
          <h4>Adobe Photoshop</h4>
          <h5>November 18, 2017</h5>
          <p>• Applied bright vibrant colors against a harsh black background for a very distinct and flavorful contrast<br><br>
            • Personal choice of sketch-based and ornate font combined with fine detailing, helped transition clashing hues into a delicate fade<br><br>
            • Used imagery of smoke combined with various rainbow-colored textures to overlay a cityscape background, creating a visually surrealistic final product<br><br>
            • Film reel silhouette in the middle was the final touch, becoming the centerpiece of the entire poster. Lovely choice indeed!</p>
        </div>
      </div>
    </div>

  </section>

  <div class="footer">
    <h3>Ryan Lin 2019</h3>
    <a class="f1" href="mailto:hello.ryanlin@gmail.com"><i class="fas fa-envelope"></i>&nbspEmail me!</a>
    <a class="f2" href="#home">Back to the top!&nbsp<i class="fas fa-arrow-up"></i></a>
  </div>



</body>

</html>
