/* Body Content */
body {
  font: 14px "Montserrat", Helvetica, Arial, sans-serif;
  background-color: #151515;
  background: linear-gradient(to bottom, #000000 0%, #222222 100%);
  margin: 0;
  padding: 0;
  height: 2000px; }

hr.drop {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px; }

.vl {
  border-left: 2px solid #f2ffff;
  opacity: 0.8;
  width: 0px;
  height: 75px;
  margin: 0 auto; }

.opener {
  margin-top: 50px;
  margin-bottom: 100px; }

.opener p {
  background: linear-gradient(to right, #fff0fe 0%, #f2ffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center; }

#timeline {
  color: #fff; }

/* Header Styles */
h1 {
  text-align: center; }

h2 {
  font-size: 42px;
  font-weight: 800; }

h4 {
  font: 14px "Alata", Helvetica, Arial, sans-serif;
  font-size: 25px;
  margin-top: -35px;
  color: #f2ffff; }

h5 {
  font-size: 15px;
  font-weight: 400;
  margin-top: -25px;
  color: #fff0fe; }

p {
  font-weight: 290; }

/* Columns 1 and 2 */
.column1 {
  text-align: right;
  box-sizing: border-box;
  float: left;
  width: 48%;
  padding: 0px;
  margin-right: 4%; }

.column1 h2, .column1 h4, .column1 h5 {
  margin-left: 40px; }

.column2 {
  margin-top: 20px;
  text-align: left;
  box-sizing: border-box;
  float: left;
  width: 37%;
  padding: 10px;
  margin-bottom: 7%; }

.column1 .column1s h2 {
  font-size: 35px; }

.column1 .column1s {
  padding-top: 10px; }

@media only screen and (max-width: 800px) {
  img {
    margin-bottom: 40px; }
  .column1 {
    text-align: left;
    width: 100%;
    margin-top: 60px;
    padding-right: 40px; }
  .column2 {
    width: 100%;
    padding: 40px;
    margin-top: -50px; }
  .column2s {
    margin-top: -15px; }
  .bigscreen .gallery {
    padding-left: 5px;
    padding-right: 5px; } }

@media only screen and (max-width: 500px) {
  .column1 {
    margin-top: -5px; } }

/* Columns 3 and 4 */
.column3 {
  text-align: right;
  box-sizing: border-box;
  float: left;
  width: 50%;
  margin-bottom: 5%;
  padding-right: 0px; }

.column3 h2, .column4 h2 {
  font-size: 35px; }

.column3 h2, .column3 h4, .column3 h5 {
  padding-right: 40px;
  margin-left: 40px; }

.column3 .gallery {
  padding-right: 0; }

.column3 .column3c, .column4 .column4c {
  margin-top: -10px; }

.column3 p {
  margin-right: 40px;
  margin-left: 250px; }

.column4 {
  text-align: left;
  box-sizing: border-box;
  float: left;
  width: 50%;
  margin-bottom: 7%; }

.column4 p {
  margin-left: 40px;
  margin-right: 250px; }

.column4 h2, .column4 h4, .column4 h5 {
  margin-left: 0px;
  padding-left: 40px;
  padding-right: 40px; }

.column4 .gallery {
  padding-left: 0px; }

@media only screen and (max-width: 800px) {
  .column3 {
    text-align: left;
    width: 100%;
    margin-bottom: 15%; }
  .column3 .column3c {
    margin-top: 150px;
    padding-left: 0px; }
  .column3 p {
    margin-left: 40px; }
  .column3 .gallery {
    padding-left: 5px;
    padding-right: 5px; }
  .column4 {
    text-align: left;
    width: 100%;
    padding-right: 0px;
    margin-bottom: 15%; }
  .column4 .column4c {
    margin-top: 150px;
    padding-left: 0px; }
  .column4 p {
    margin-right: 0px; }
  .column4 .gallery {
    padding-left: 5px;
    padding-right: 5px; } }

@media only screen and (max-width: 800px) {
  .gallery {
    margin-bottom: -10%; }
  .column3 .gallery, .column4 .gallery {
    margin-bottom: -17%; } }

@media only screen and (max-width: 500px) {
  .column3 .column3c, .column4 .column4c {
    margin-top: 60px; }
  .column4 {
    margin-bottom: 25%; } }

@media only screen and (max-width: 500px) {
  .gallery {
    margin-bottom: -20%; }
  .column3 .gallery, .column4 .gallery {
    margin-bottom: -27%; } }

@media only screen and (max-width: 1200px) {
  .column3 p {
    margin-left: 40px; }
  .column4 p {
    margin-right: 40px; } }

/* Clear floats after the columns */
.row:after {
  box-sizing: border-box;
  content: "";
  display: table;
  clear: both; }

.row .column2 p, .row .column4 p {
  text-align: left; }

/* Video Cover Placement */
.gallery {
  height: 360px;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  transition: .5s ease;
  transform: scale(0.95);
  opacity: 0.9; }

.gallery:hover {
  opacity: 1;
  transform: scale(0.98); }

/* Icon Over Video */
.gallery .far {
  color: white;
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

/* Magnific Popup */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

/* Homepage Video Splash */
.video_contain {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.video_contain video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none; }

/* Buttons Placing */
.video_contain .buttons {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 120px; }

.video_contain .buttons .b1 {
  margin-right: 20px; }

/* Buttons Styling */
.buttons a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #f2ffff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: 0.2s; }

.buttons a:hover, .buttons .bright {
  color: #255784;
  background: #f2ffff;
  box-shadow: 0 0 10px #3182ff, 0 0 40px #3182ff, 0 0 80px #3182ff;
  transition-delay: 0.5s; }

.buttons a span {
  position: absolute;
  display: block; }

.buttons a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #3182ff); }

.buttons a:hover span:nth-child(1) {
  left: 100%;
  transition: 0.5s; }

.buttons a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #3182ff); }

.buttons a:hover span:nth-child(3) {
  right: 100%;
  transition: 0.5s;
  transition-delay: 0.25s; }

.buttons a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #3182ff); }

.buttons a:hover span:nth-child(2) {
  top: 100%;
  transition: 0.5s;
  transition-delay: 0.125s; }

.buttons a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #3182ff); }

.buttons a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.5s;
  transition-delay: 0.375s; }

@media only screen and (max-width: 400px) {
  .buttons a {
    padding: 10px 20px; }
  .video_contain .buttons .b1 {
    margin-right: 0px; } }

html {
  scroll-behavior: smooth; }

/* Chevron */
.video_contain .chev {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 50px;
  font-size: 35px;
  color: white;
  animation-name: change;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.75, 0.25, 0.25, 0.75); }

@keyframes change {
  0% {
    bottom: 40px;
    opacity: 100%; }
  100% {
    bottom: 30px;
    opacity: 30%; } }

@keyframes mobilechange {
  0% {
    bottom: 20px;
    opacity: 100%; }
  100% {
    bottom: 10px;
    opacity: 30%; } }

@media only screen and (max-height: 550px) {
  .buttons a {
    padding: 10px 20px;
    bottom: -50px; }
  .video_contain .buttons .b1 {
    margin-right: 200px; }
  .video_contain .chev {
    bottom: 30px;
    animation-name: mobilechange; }
  /* Footer */ }

.footer {
  position: relative;
  bottom: 0;
  height: 120px;
  width: 100%;
  background-color: #111;
  color: #eee;
  text-align: center;
  padding-top: 22px; }

.footer h3 {
  background: linear-gradient(to right, #f2ffff 0%, #fff0fe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.footer i {
  font-size: 20px;
  color: #eee; }

.footer a {
  margin-left: 25px;
  margin-left: 25px; }

.footer .f1 {
  margin-right: 30px;
  color: #f2ffff;
  text-decoration: none; }

.footer .f2 {
  color: #fff0fe;
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */